//
//  Develop.xcconfig
//  Beanos Develop
//
//  Created by Youssef El-Ansary on 14/06/2022.
//  Copyright © 2022 Mattemark. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Uses Staging server and runs only on Simulators

CONFIG_NAME = Beanos Develop
BASE_DOMAIN = fawrydig.fawrystaging.com
PORT = 2038
ACCOUNT_NUMBER = aL/Jxc0sL1Uht8gytoGagg==
SECURE_KEY = 3dd59e18369a4137ab90f199f31fb96e
ENABLE_LOGGER = 1
